body{
    background: #fff;
    color: #105049;
}
.panel.panel-custom{
    cursor: pointer;
    background-clip: content-box;
    border:1px solid #0071BF;
    margin-top: 2%;
}
.panel.panel-custom .panel-heading img{
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: -20px;
}
.panel.panel-custom .panel-body{
    background: #0071BF;
    color: #fff;
}
.modal{
    color: #000
}
.modal-title{
    float: left;
    color: #000
}
.modal-subtitulo{
    float: left;
    width: 98%;
    margin-bottom: 0;
    margin-top: 10px;
}

.resumo{
    padding-right: 20px;
    margin-top: -70px;
    float: right;
    position: relative;
}
.resumo p{
    float: left;
    margin: 0 3px;
    font-size: 110%;
    padding: 2px;
    border-radius: 10px;
}
.resumo .total{
    border: 1px solid #f0ad4e;
}
.resumo .pagas{
    border: 1px solid #5cb85c;
}
.resumo .npagas{
    border: 1px solid #d9534f;
}

.valorDivida{
    font-size: 120%;
}
.valorDivida b{
    font-size: 140%;
}